main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

#game-intro {
  background-image: url(/docs/images/menu-background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#image-cheff {
  width: 350px;
}

#start-button {
  background-color: #a12b0d;
  color: #d1ae2f;
  font-weight: 600;
  border: solid;
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.box {
  background-color: #a12b0d;
  opacity: 0.8;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  width: 500px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 30px;
  border: solid #d1ae2f;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  margin: -2px auto;
}

#arrows {
  width: 15px;
}

#stats {
  width: 20px;
}

#game-container {
  background-image: url(/docs/images/game-background.png);
  background-size: cover;

  display: none;
}

.score-stats {
  margin-right: 1390px;
}

#score {
  color: white;
  text-decoration: solid;
  font-size: 40px;
  margin-bottom: 15px;
}

#score-image {
  width: 45px;
  margin-right: 10px;
}

#lives {
  color: white;
  text-decoration: solid;
  font-size: 40px;
}

#live-image {
  width: 50px;
  margin-right: 10px;
}

#game-screen {
  display: none;
  align-content: center;
  justify-content: center;
}

#game-end {
  display: none;
  background-image: url(/docs/images/gameover-background.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-game-over {
  width: 350px;
  margin-top: 75px;
}

#restart-button {
  background-color: #a12b0d;
  color: #d1ae2f;
  font-weight: 600;
  border: solid;
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* #game-win {
    display: none;
    background-image: url(/docs/images/gameover-background.png);
} */
